__pycache__/*
backup/*
bin/*
include/*
lib/*
lib64/**
lib64
pip-selfcheck.json
pyvenv.cfg
example/*
parser/__pycache__/*
model/__pycache__/*
model/*.zip
test*/*
dist/*
build/*
openapi.spec
*.egg-info/*
